@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 2000px;
  margin: 0 auto;
  text-align: center;
  @apply text-secondaryDarker bg-primary
}

h1 {
  @apply text-lg sm:text-xl md:text-xl lg:text-3xl xl:text-3xl font-bold leading-tight;
}

h2 {
  @apply text-base sm:text-lg md:text-lg lg:text-2xl xl:text-2xl font-semibold leading-snug;
}

h3 {
  @apply text-sm sm:text-base md:text-base lg:text-lg xl:text-lg font-medium leading-relaxed;
}



